
/* google font added */

  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&family=Roboto+Mono:ital,wght@1,300&family=Space+Grotesk:wght@300;700&display=swap');

  *{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    
  }
 /* .container{
    width: 90%;
    background-color: rgba(201, 200, 200, 0.341);
    margin: 0 auto;
    height: 100%;
 } */

 /* nav bar */
 .navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
 }
 .navbar ul{
    display: flex;
 }
 .navbar ul li {
    list-style: none;
    margin-right: 30px;
 }
 .navbar ul li a{
    text-decoration: none;
    color: red;
 }
  /* end nav bar */
  /* banner section */

  header{
padding: 50px 240px;
  }
  
.banner-content{
    text-align: center;
  max-width: 800px;
   margin: 0 auto;
}
.banner-content p{
    margin: 10px 0;
    color: gray;
    font-weight: 200;
}
.btn-primary{
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}
  .banner-section img{
    width:100%;
   
  }


  /* responsive */

  @media screen and (max-width:576px) {

    
  }